**/bin/
**/obj/
.vs/
artifacts/
*.user
*.suo
*.sqlite*
*.db
config*.json
settings*.json
downloads/
*.eml
*.log
*.pfx
*.pem
*.key
*.zip
test-results/
.env*
!*.example

.deployment/
**/__pycache__/
.ssh/
backups/
Feedback/
*.tar.gz
*.7z
*.dmp
ip-salt
